@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.centered-container {
  text-align: center;
  p {
    max-width: 100%;
  }

}

.spinner-container {
  background: $fs-green;
  padding: 9px;
  border-radius: 24px;
  display: inline-block;
  width: 45px;
  height: 45px;
}
.spinner {
  border-width: 4px;
  width: 28px;
  height: 28px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border-style: solid;
  animation: spin 0.8s linear infinite;
  border-color: $fs-tan rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) !important;
  background-color: $fs-green !important;
}
