.usa-nav {
  background-color: $fs-tan;
  .usa-nav-primary {
    margin-top: 1.5em;
    @media (min-width: $nav-width) {
      margin-top: 0;
    }
    &.usa-accordion {
      li {
        button {
          &[aria-expanded='true'] span {
            @media (min-width: $nav-width) {
              color: $white;
            }
          }
        }
        .usa-nav-submenu {
          li {
            a {
              @media (min-width: $nav-width) {
                color: $white;
              }
            }
          }
        }
      }
    }
    li {
      border-top: none;
      a,
      span,
      button {
        color: $fs-green;
        font-size: 18px;
        @media (min-width: $nav-width) {
          font-size: 16px;
        }
      }
      .usa-nav-link {
        &:hover {
          span,
          a {
            border-bottom: none;
          }
        }
      }
      button {
        &[aria-expanded='false'] {
          background-image: url(#{$image-path}/us-forest-service/plus-green.svg);
          @media (min-width: $nav-width) {
            background-image: url(#{$image-path}/us-forest-service/angle-arrow-down-green.svg);
          }
        }
        &[aria-expanded='true'] {
          background-image: url(#{$image-path}/us-forest-service/minus-green.svg);
          @media (min-width: $nav-width) {
            background-image: url(#{$image-path}/us-forest-service/angle-arrow-down-primary-white.svg);
            color: $white;
            background-color: $fs-green-darker;
          }
          span {
            border-bottom: none;
          }
        }
      }
      ul.usa-nav-submenu {
        @media (min-width: $nav-width) {
          background-color: $fs-green-darker;
          color: $white;
        }
        li {
          a,
          span,
          button {
            font-size: 14px;
            font-weight: normal;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      &:hover {
        @media (min-width: $nav-width) {
          background-color: $fs-green-darker;
          span,
          a {
            color: $white;
          }
        }
        button {
          background-color: transparent;
          @media (min-width: $nav-width) {
            background-image: url(#{$image-path}/us-forest-service/angle-arrow-down-primary-white.svg) !important;
          }
        }
      }
    }
  }
}
